@use "../utilities" as *;

.main {
  height: 80vh;

  &__heading {
    @include maxWidth;
    @include mxAuto;
    font-size: 5vw;

    &-title {
      text-align: center;
    }
  }

  &__news {
    height: 60rem;
    @include maxWidth;
    @include mxAuto;
  }
}