@mixin maxWidth {
  max-width: 140rem;
}

@mixin mxAuto {
  margin: 0 auto;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin roundedBorder {
  border-radius: 3rem;
}
@mixin boxShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
